<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>DATA TRANSAKSI API</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/css/bootstrap-theme.css" rel="stylesheet"/>
        <link href="/css/bootstrap.css" rel="stylesheet"/>
        <link href="/css/dataTables.bootstrap.css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/dataTables.bootstrap.css"/>
        <link rel="stylesheet" href="/css/dataTables.bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <div class="container-fluid">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="page-header">
                        <h3 class="alert alert-info">API LIST DATA TRANSAKSI</h3>
                    </div>
                    <div class="page-header">
                        <table class="table table-hover table-striped" id="tabel-data-transaksi">
                            <thead>
                                <tr>
                                    <th>no</th>
                                    <th>tanggal</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>no</th>
                                    <th>tanggal</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/js/jQuery.js"></script>
        <script src="/js/jquery.dataTables.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/js/dataTables.bootstrap.js"></script>
        <script src="/js/dataTables.bootstrap.min.js"></script>
    </body>
</html>
