<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>LIST PRODUCT</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--CSS-->
        <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/dataTables.bootstrap.css"/>
        <link rel="stylesheet" href="/css/dataTables.bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <div class="container-fluid">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="page-header">
                        <h3 class="page-header">LIST PRODUCT</h3>
                    </div>
                    <div class="page-header">
                        <table class="table table-striped table-hover" 
                               id="tabels">
                            <thead>
                                <tr>
                                    <th>nama</th>
                                    <th>harga</th>
                                    <th>jumlah</th>
                                    <th>kategori</th>
                                    <th>opsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>nama</th>
                                    <th>harga</th>
                                    <th>jumlah</th>
                                    <th>kategori</th>
                                    <th>opsi</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <!--JS-->
        <script src="/js/jQuery.js"></script>
        <script src="/js/jquery.dataTables.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/js/bootbox.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/dataTables.bootstrap.js"></script>
        <script src="/js/dataTables.bootstrap.min.js"></script>
        <script src="/js/app/myapp.js"></script>
    </body>
</html>
